body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  text-align: center;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
  border: 2px solid gray;
  height: 25%;
  width: 35%;
  margin: auto; 
}

.user-image{
  width:100px;
  height:100px;
  object-fit: contain;
  object-position: center;
  border-radius: 50%;
}

.tab-content {
  margin: auto;
  width: 50%;
}

.card-body {
  background-color: #f7f7f7;
  border-radius: 20px;
}

.card-header-custom {
  background-color: white;
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.answer-card {
  width: 40%;
  border: 1px solid grey;
  margin: auto;
  position: relative;
  top: 200px;
}

.yourvote-item{
  padding: 3px 10px;
  background: #ffc000;
  width: fit-content;
  margin-left: auto;
  border-radius: 30px;
}

.progress-custom {
  display: flex;
  height: 30px;
  overflow: hidden;
  line-height: 0;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: .25rem;
}

.progress-custom-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width .6s ease;
}

#user-card {
  border-radius: 20px;
}

.score{
  width:50px;
  height:50px;
  margin:20px auto;
  border-radius:50px;
  background:#ffab00;
  font-weight:700;
  font-size:24px;
  color:white;
  display:flex;
  flex-flow:row;
  align-items: center;
  justify-content: center;
}

.prize-tag{
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 10px;
  border-radius: 50%;
}
.gold{
  background: gold;
}
.silver{
  background:silver;
  color:white;
}
.bronze{
  background:#dbb256;
  color:white;
}